@model PrimerProyectoClubDeportivoPA2.Web.Data.Entities.Member

@{
    ViewData["Title"] = "Detalles Miembro";
}

<h1>Detalles del Miembro</h1>

<div>
    <h4>Miembro</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> 
    <a asp-action="Index" class="btn btn-info">Regresar a la lista</a>
</div>
