@model PrimerProyectoClubDeportivoPA2.Web.Data.Entities.Schedule

@{
    ViewData["Title"] = "Editar Horario";
}

<h1>Editar</h1>

<h4>Horario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StartingHour" class="control-label"></label>
                <input asp-for="StartingHour" class="form-control" />
                <span asp-validation-for="StartingHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishingHour" class="control-label"></label>
                <input asp-for="FinishingHour" class="form-control" />
                <span asp-validation-for="FinishingHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
