@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO AL CLUB DEPORTIVO JOHN WESLEY S.A. DE C.V.</h1>
    <p> Software creado con <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
