@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO AL COMPLEJO DEPORTIVO ORIZABEÑO CDO</h1>
    <p> Software creado con <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
